@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 240 10% 97%; /* Light gray */
    --foreground: 240 6% 10%;
    --card: 240 0% 100%;
    --card-foreground: 240 6% 10%;
    --popover: 240 0% 100%;
    --popover-foreground: 240 6% 10%;
    --primary: 221 44% 48%; /* Deep blue */
    --primary-foreground: 0 0% 100%;
    --secondary: 240 5% 90%;
    --secondary-foreground: 240 6% 10%;
    --muted: 240 5% 90%;
    --muted-foreground: 240 4% 46%;
    --accent: 173 100% 30%; /* Teal */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 6% 88%;
    --input: 240 6% 88%;
    --ring: 221 44% 48%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 6% 10%;
    --foreground: 0 0% 98%;
    --card: 240 5% 13%;
    --card-foreground: 0 0% 98%;
    --popover: 240 6% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 221 44% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 4% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 20%;
    --muted-foreground: 240 4% 65%;
    --accent: 173 80% 40%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 4% 20%;
    --input: 240 4% 20%;
    --ring: 221 44% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
